<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/main.css}" />
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>

	<header th:fragment="header" class="layoutheader">
		<a class="title" th:href="@{/}">NBP RATES</a>
		<div class="topnav">
			<a th:href="@{/}">Home</a> <a th:href="@{/findgoldrates}">Gold
				rates</a> <a th:href="@{/findexchangerates}">Exchange rates</a> <a
				th:href="@{/about}">About</a>
		</div>

	</header>


	<footer th:fragment="footer" class="layoutfooter">
		&nbsp;
		<hr>
		&copy; Bartosz Floryan 2020
	</footer>
</body>
</html>